@{

    Layout = "_RootLayout";
    var UserName = Context.User.Identity.Name;

    var navBarViewModel = new Segurplan.Web.Pages.Components.NavBar.NavBarViewModel
            {
                UserName = UserName,
                Role = "Administrador"
            };
}

@await Component.InvokeAsync("SideBar")

<div class="main-panel listado" @ViewData["MainPanelClass"]>

    @await Component.InvokeAsync("NavBar", navBarViewModel)

    @RenderBody()
</div>

@section Styles{
    @RenderSection("Styles", false)
}

@section Scripts{
    @RenderSection("Scripts", false)
}